.container-fluid-counter {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.counter-main {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.chooses-info {
    text-align: center;
}

.border-right-counter {
    border-right-width: 1px;
}

.border-right-counter:last-child {
    border-right-width: 0px;
}

.iconsize-counter {
    height: 3rem;
    width: 3rem;
}

.counter-title {
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
}

/* MEDIA Queries */

@media (max-width: 768px) {
    .container-fluid-counter {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .counter-main {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .border-right-counter {
        border-right-width: 1px;
    }

    .border-right-counter:nth-child(2n) {
        border-right-width: 0px;
    }

    .border-right-counter:nth-child(1) {
        border-bottom-width: 1px;
    }

    .border-right-counter:nth-child(2) {
        border-bottom-width: 1px;
    }

    .iconsize-counter {
        height: 3rem;
        width: 3rem;
    }

    .counter-title {
        color: #fff;
        font-size: 18px;
        line-height: 1.8rem;
        margin-top: 2px;
    }
}

@media (max-width: 640px) {
    .container-fluid-counter {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .counter-main {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .border-right-counter {
        border-right-width: 1px;
    }

    .border-right-counter:nth-child(2n) {
        border-right-width: 0px;
    }

    .border-right-counter:nth-child(1) {
        border-bottom-width: 1px;
    }

    .border-right-counter:nth-child(2) {
        border-bottom-width: 1px;
    }

    .iconsize-counter {
        height: 3rem;
        width: 3rem;
    }

    .counter-title {
        color: #fff;
        font-size: 18px;
        line-height: 1.8rem;
        margin-top: 2px;
    }
}

@media (max-width: 480px) {
    .container-fluid-counter {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .counter-main {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .border-right-counter {
        border-right-width: 1px;
    }

    .border-right-counter:nth-child(2n) {
        border-right-width: 0px;
    }

    .border-right-counter:nth-child(1) {
        border-bottom-width: 1px;
    }

    .border-right-counter:nth-child(2) {
        border-bottom-width: 1px;
    }

    .iconsize-counter {
        height: 3rem;
        width: 3rem;
    }

    .counter-title {
        color: #fff;
        font-size: 18px;
        line-height: 1.8rem;
        margin-top: 2px;
    }
}