/*---------------------------------------------------------------
26. FOOTER
---------------------------------------------------------------*/
/*newslatter*/

/* Footer Col Styling */

.site-footer .footer-bg {
    background-color: #0c163b;
}

.site-footer .footer-bg-bottom {
    background-color: #050d2c;
}

.row-footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-col-lg-2 {
    -webkit-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}




/* 3rd Column */

.footer-col-lg-4 {
    -webkit-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.footer-col-5 .footer-col-lg-2 .footer-col-lg-4 .col-md-6 .col-sm-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}



/* footer Bottom */

.footer-bottom-col-lg-6 {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}


/* widget get-in-touch */

.widget_getintuch ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

/* .widget_getintuch {
    padding-top: 10px;
} */

.widget_getintuch li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
}

.widget_getintuch li,
.widget_getintuch b,
.widget_getintuch strong {
    display: block;
    text-transform: capitalize;
}

.widget_getintuch strong {
    font-weight: 600;
    font-size: 16px;
}

.widget_getintuch span {
    position: absolute;
    left: 0;
    top: 5px;
    text-align: center;
    font-size: 22px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}





/* footer fixed on bottom css*/
.footer-fixed .site-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-fixed .page-content {
    position: relative;
    z-index: 1;
    background-color: #fff;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer h1 a,
footer h2 a,
footer h3 a,
footer h4 a,
footer h5 a,
footer h6 a {
    color: #b0b0b0;
}

footer p,
footer strong,
footer b,
footer {
    color: #b0b0b0;
}

footer h1 a,
footer h2 a,
footer h3 a,
footer h4 a,
footer h5 a,
footer h6 a,
footer p a {
    color: #b0b0b0;
}

footer a,
footer a:visited {
    color: #b0b0b0;
}

footer p a {
    color: #b0b0b0;
}

footer a:active,
footer a:focus,
footer a:hover {
    color: #b0b0b0;
}

/* widget color */

footer .widget_services ul li a {
    color: #b0b0b0;
}


footer.text-white .widget_services ul li a {
    color: #fff;
}

footer p {
    margin-bottom: 10px;
}

footer p,
footer li {
    font-size: 15px;
    line-height: 22px;
}

footer#footer {
    background-position: center;
    background-size: cover;
}

footer p {
    line-height: 24px;
    margin-bottom: 10px;
}

footer .widget ul {
    list-style: none;
    margin-top: 5px;
}

/*widget li in footer*/


footer .widget_services ul li {
    border-bottom: 1px dashed rgba(102, 102, 102, 0.3);

}

footer .widget_services ul li {
    transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    padding: 10px 0px 10px 0px;
}

footer .widget_services ul li:hover {
    transform: translateX(10px);
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
}

/*widget Getintuch*/
.footer-top {
    background: #000;
    background-size: cover;
    background-position: 50%;
    padding: 60px 0 50px;
}

.footer-bottom {
    background-color: #000;
    padding: 25px 0;
    color: #b0b0b0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-bottom ul {
    margin: 0;
}

/* Footer Full */
.footer-full .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

@media only screen and (max-width: 991px) {

    /* footer-col-lg-2 */
    .footer-col-lg-2 {
        -webkit-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    /* footer-col-lg-4 */
    /* .footer-col-lg-4 {
        -webkit-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    } */

    .col-md-3.col-sm-6.footer-col-4:nth-child(3) {
        clear: both;
    }

    .footer-full .text-left,
    .footer-full .text-right,
    .footer-full .text-center {
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-full .text-right {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 767px) {
    /* col-md-6 */
    /* .col-md-6 {
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    } */

    /* .footer-clear {
        display: block !important;
        clear: both;
    }

    #footer .footer-4-col {
        width: 100%;
    }

    .footer-bottom [class*="clo-"] {
        width: 100%;
    } */
}


/* @media only screen and (max-width: 575px){
    .col-sm-6 {
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
} */

@media (max-width: 1024px) {

    .footer-top {
        padding-top: 60px;
    }

    .footer-col-5 {
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer-col-5 {
        position: relative;
        width: 50%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }


    .footer-col-7 {
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer-col-7 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-col-lg-4 {
        position: relative;
        width: 50%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-col-lg-4 {
        flex: 0 0 50%;
        max-width: 100%;
    }



    .site-footer .widget {
        margin-bottom: 35px;
    }

    .widget h5 {
        font-size: 18px;
        line-height: 24px;
    }

    .footer-bottom .row-footer {
        display: flex;
        flex-direction: column;

    }

    .footer-bottom .text-left,
    .footer-bottom .text-right {
        text-align: center !important;
    }

    .footer-bottom-col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer-bottom .widget-link ul {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 768px) {

    .footer-top {
        padding-top: 60px;
    }

    .footer-col-5 {
        -webkit-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .footer-col-5 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }


    .footer-col-7 {
        -webkit-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .footer-col-7 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-col-lg-4 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-col-lg-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }



    .site-footer .widget {
        margin-bottom: 35px;
    }

    .widget h5 {
        font-size: 18px;
        line-height: 24px;
    }

    .footer-bottom .row-footer {
        display: flex;
        flex-direction: column;

    }

    .footer-bottom .text-left,
    .footer-bottom .text-right {
        text-align: center !important;
    }

    .footer-bottom-col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer-bottom .widget-link ul {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 640px) {

    .footer-top {
        padding-top: 30px;
    }

    .footer-col-5 {
        -webkit-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .footer-col-5 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }


    .footer-col-7 {
        -webkit-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .footer-col-7 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-col-lg-4 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-col-lg-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }



    .site-footer .widget {
        margin-bottom: 35px;
    }

    .widget h5 {
        font-size: 18px;
        line-height: 24px;
    }

    .footer-bottom .row-footer {
        display: flex;
        flex-direction: column;

    }

    .footer-bottom .text-left,
    .footer-bottom .text-right {
        text-align: center !important;
    }

    .footer-bottom-col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer-bottom .widget-link ul {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 480px) {

    .footer-top {
        padding-top: 30px;
    }

    .footer-col-5 {
        -webkit-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .footer-col-5 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }


    .footer-col-7 {
        -webkit-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .footer-col-7 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-col-lg-4 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-col-lg-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }



    .site-footer .widget {
        margin-bottom: 35px;
    }

    .widget h5 {
        font-size: 18px;
        line-height: 24px;
    }

    .footer-bottom .row-footer {
        display: flex;
        flex-direction: column;

    }

    .footer-bottom .text-left,
    .footer-bottom .text-right {
        text-align: center !important;
    }

    .footer-bottom-col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer-bottom .widget-link ul {
        display: flex;
        justify-content: center;
    }

}



/* Subscribe Form */
.subscribe-form input {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* border-radius:30px !important; */
    height: 50px;
    padding: 10px 20px;
    margin-right: 5px;
    color: #fff;
    font-size: 15px;

}

.subscribe-form .site-button {
    border-radius: 0px 3px 3px 0px;
}

.subscribe-form input.radius-no {
    border-radius: 0 !important;
}

.subscribe-form .site-button {
    height: 50px;
}

.subscribe-form .input-group-btn {
    padding-left: 10px;
}

/*  map footer */
/* .map-footer .footer-top{
	padding:0;
} */



/* scroll top btn css */
button.scroltop {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border-color: #efbb20;
    border-radius: 20px;
    border-style: solid;
    border-width: 0;
    bottom: 15px;
    box-shadow: 2px 2px 12px -5px #000000;
    color: #efbb20;
    cursor: pointer;
    display: none;
    height: 40px;
    line-height: 26px;
    margin: 0;
    position: fixed;
    right: 15px;
    text-align: center;
    width: 40px;
    z-index: 999;
}


.footer-contact-info {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.site-footer .icon-bx-wraper {
    overflow: hidden;
}

.site-footer .icon-content {
    overflow: unset;
}

.site-footer .dlab-tilte {
    position: inherit;
}

.site-footer .site-button.circle {
    color: #fff;
    font-size: 16px;
}

@media only screen and (max-width: 480px) {

    footer .footer-info-bar .col-xs-6,
    footer .footer-contact-info .col-xs-6 {
        width: 100%;
    }
}